.additional {
    position: relative;

    float: right;

    margin-right: 3rem;
    padding-left: 9rem;

    @extend %clearfix;
    @include tablet-portrait-down {
        float: none;
    }
    &__description {
        font-weight: 300;

        position: absolute;
        left: 0;

        text-align: center;

        color: black;

        @include phone-only {
            display: none;
        }
    }
    &__tagline {
        font-size: 4.2rem;
        font-weight: 700;
        font-stretch: condensed;

        color: $main-text-color;

        @include tablet-landscape-down {
            font-size: 4.2rem * .8;
        }
    }
    &__button {
        font-size: 2.3rem;
        font-weight: 700;
        font-stretch: condensed;

        padding: 2rem 2.7rem;

        border: none;
        border: .5rem solid #000;
        background: none;
        &:hover {
            color: lighten($main-text-color, .3);
            border-color: darken($main-text-color, .7);
        }
    }
}
