.basket-btn {
    font-weight: 700;
    font-stretch: condensed;

    text-transform: uppercase;

    color: #fff;
    border: none;
    background-image: linear-gradient(to top, rgb(117, 91, 30), rgb(82, 168, 40));

    flex: 0 1 13%;
    @extend %pseudo;
    @include tablet-landscape-down {
        padding: 0;

        flex: 0 1 7.5rem;
    }
    @include tablet-portrait-down {
        padding: .5rem 1rem;

        align-self: flex-start;
        flex: 0 1 4.5rem;
    }
    &:hover .basket-btn__icon .view {
        opacity: 1;
    }
    &__text {
        display: inline-block;

        transform: translateY(-1rem);

        @include tablet-landscape-down {
            display: none;
        }
        @include tablet-portrait-down {
            display: inline-block;
        }
    }
    &__icon {
        display: inline-block;

        width: 3.5rem;
        height: 3.5rem;
        margin-right: .5rem;
        & .view {
            transition: opacity .5s;

            opacity: .3;
        }
        & .cart {
            fill: #fff;
        }
        & .circle {
            fill: none;
            stroke: #fff;
            stroke-miterlimit: 10;
        }
    }
}
