.benefits {
    margin-bottom: 5.5rem;
    margin-left: 9rem;
    padding: 0;
    padding-left: 13.5rem;

    list-style: none;

    @include tablet-portrait-down {
        display: inline-block;

        margin: 0 auto;
        margin-left: 0;
        padding-left: 0;
    }
    @include phone-only {
        margin: 3rem auto;
    }
    &__bg {
        position: absolute;
        top: -6rem;

        @include tablet-portrait-down {
            display: none;
        }
    }
}
