.content {
    position: relative;
    @extend %clearfix;
    z-index: 2;
    @include tablet-portrait-down {
        background-color: $bg-color;
    }
    &__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        @extend %clearfix;
        @include tablet-portrait-down {
            display: none;
        }
        &_left {
            float: left;
            background-color: $bg-color;
            width: 52%;
            height: 100%;
        }
        &_right {
            @extend %clearfix;
            float: left;
            width: 48%;
            height: 100%;
            background-image: url('../img/wheat-bg.jpg');
            background-size: cover;
        }
    }
    &__left-col {
        float: left;
        width: 52%;
        @extend %clearfix;
        // border: 1px solid #0f0; 
        @include tablet-portrait-down {
            float: none;
            // width: 100%;  
            display: inline-block;
            margin: 0 auto;
        }
    }
    &__right-col {
        float: left;
        position: relative;
        border-top: 1px solid transparent;
        width: 48%;
        @extend %clearfix;
        @include tablet-portrait-down {
            float: none;
            width: 100%;
        }
    }
}