.content {
    position: relative;

    background-color: $bg-color;
    background-image: url('../img/wheat-bg.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 48%;

    @extend %clearfix;
    @include tablet-portrait-down {
        background: $bg-color;
    }
    &__left-col {
        float: left;

        width: 52%;
        margin-bottom: 4rem;

        @extend %clearfix;
        @include tablet-portrait-down {
            display: flex;
            float: none;

            width: 100%;

            justify-content: space-between;
            align-items: center;
        }
        @include phone-only {
            flex-direction: column;
        }
    }
    &__right-col {
        position: relative;

        float: left;

        width: 48%;

        border-top: 1px solid transparent;

        @extend %clearfix;
        @include tablet-portrait-down {
            float: none;

            width: 100%;
            padding-top: 7rem;
            padding-bottom: 5rem;

            background-image: url('../img/wheat-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
