.main-nav {
    padding: 1.7rem 0 .8rem 0;

    background-color: $bg-color;

    flex: 1 1;
    @include tablet-portrait-down {
        background: none;
    }
    &__list {
        display: flex;

        padding: 0;
        padding-bottom: .8rem;

        list-style: none;

        justify-content: space-around;
        @include tablet-portrait-down {
            flex-direction: column;
        }
    }
    &__item {
        @include tablet-portrait-down {
            margin-bottom: 1.5rem;
        }
        & span {
            font-size: .5em;

            padding-left: .3rem;
        }
    }
    &__link {
        font-weight: 700;
        font-stretch: condensed;

        display: flex;

        text-transform: uppercase;

        color: $nav-text-color;

        align-items: center;
        @include tablet-portrait-down {
            font-size: 2rem;
        }
        &:hover {
            color: $nav-text-color + #005;
        }
    }
}
