.options-form {
    color: $main-text-color;
    &__input, &__select {
        font-weight: 300;

        display: block;

        width: 100%;
        padding: 1rem;

        color: $main-text-color;
        border: none;
        border: .2rem solid $bd-color;
        border-radius: .2rem;
    }
    &__select {
        background-image: url('../img/crop__arrow.svg');
        background-repeat: no-repeat;
        background-position: 96% 50%;
        background-size: .8rem 1rem;

        appearance: none;
    }
    &__option {
        font-weight: 300;

        color: $main-text-color;
    }
    &__label {
        font-weight: 300;

        display: inline-block;

        margin-bottom: .3rem;
    }
    &__group {
        margin-bottom: 2rem;
    }
    &__error {
        visibility: hidden;

        min-height: .3rem;
        max-height: .3rem;
        margin-top: .7rem;

        transition: display .5s;

        color: lightcoral;
        &.visible {
            visibility: visible;
        }
    }
}
