.options-form {
    color: $main-text-color;
    &__input, &__select {
        font-weight: 300;

        display: block;

        width: 100%;
        padding: 1rem;

        color: $main-text-color;
        border: none;
        border: .2rem solid $bd-color;
        border-radius: .2rem;
    }
    &__option {
        font-weight: 300;

        color: $main-text-color;
    }
    &__label {
        font-weight: 300;
    }
    &__group {
        margin-bottom: 2rem;
    }
}
