.profit-calc {
    max-width: 31.7rem;
    margin: 1.2rem;
    margin-left: 8.2rem;
    padding-right: 2rem;
    padding-left: 2rem;

    transform: translateY(-17.0rem);

    border: .2rem dotted $dotted-bg-color;
    outline: 1.2rem solid $second-bg-color;
    background-image: url('../img/bg_tmpl.jpg');
    background-repeat: repeat;

    @include tablet-portrait-down {
        margin: 1.2rem auto;

        transform: none;
    }
    &__header {
        margin-bottom: 1.5rem;
        padding-bottom: 2rem;

        text-align: center;

        @extend %pseudo;
        &::after {
            bottom: 0;

            width: 17rem;

            border-bottom: .2rem solid $bd-color;

            @extend %ham;
        }
    }
    &__footer {
        padding-top: 1rem;

        text-align: center;

        @extend %pseudo;
        &::after {
            top: 0;

            width: 17rem;

            border-bottom: .2rem solid $bd-color;

            @extend %ham;
        }
    }
    &__headline {
        font-size: 3.6rem;
        font-weight: 700;
        font-stretch: condensed;

        text-transform: uppercase;

        color: $main-text-color;
    }
    &__tagline {
        letter-spacing: .015rem;
        text-transform: uppercase;

        color: $main-text-color;
        &_indented {
            font-weight: 700;
        }
    }
    &__result {
        font-size: 4.7rem;

        text-transform: uppercase;

        color: $calc-indent-color;
    }
    &__result-text {
        font-weight: 300;

        letter-spacing: .015rem;
        text-transform: uppercase;

        color: $calc-indent-color;
    }
    &__currency {
        font-weight: 300;

        color: $main-text-color;
    }
}
