.tagline {
    padding-bottom: 1.2rem;

    border-bottom: .1rem solid transparent;
    &__text {
        font-size: 5.5rem;
        font-weight: 700;
        font-stretch: condensed;

        color: #fff;

        @include big-desktop-up {
            margin-left: 9rem;
        }
        @include tablet-landscape-down {
            font-size: 6rem * .77;
        }
        @include phone-only {
            font-size: 6rem * .6;
        }
        & p {
            text-transform: uppercase;
        }
        & p:nth-child(2) {
            text-indent: 11.2rem;

            @include tablet-landscape-down {
                text-indent: 11.2rem * .77;
            }
        }
        & p:nth-child(3) {
            text-indent: 22.4rem;

            @include tablet-landscape-down {
                text-indent: 22.4rem * .77;
            }
        }
        & p:nth-child(n) {
            @include phone-only {
                text-indent: 0;
            }
        }
    }
}
