.tagline {
    padding-bottom: 12px;
    // border-bottom: 1px solid transparent;
    margin-left: 90px;
    &__text {
        font-weight: 700;
        font-stretch: condensed;
        font-size: 6rem;
        color: #fff;
        & p:nth-child(2) {
            text-indent: 112px;
        }
        & p:nth-child(3) {
            text-indent: 224px;
        }
    }
}