//Fonts
$main-font: 'Roboto',
sans-serif;
//colors
$bg-color: #f1f2f2;
$second-bg-color: #E9E5E4;
$main-text-color: #25383F;
$second-text-color: #A7A9AC;
$dotted-bg-color: $second-text-color;
$benefits-text-color: #4D4545;
$benefits-indent-color: #C49A6C;
$calc-indent-color: #D26441;
$nav-text-color: #6D6E71;
$star-color: #FBB040;
$bd-color: #d1d3d4;